@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap");
h1 {
  font-family: "Asap"; }

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Jost"; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

.button-black {
  background-color: #000000;
  color: #ffff;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .button-black a {
    text-decoration: none;
    color: #fff; }

.button-violet {
  background-color: #673ab7;
  color: #ffff;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .button-violet a {
    text-decoration: none;
    color: #fff; }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

.grid_container {
  display: grid;
  grid-template-areas: "header header header" "banner banner banner" "main main main" "footer footer footer"; }

.header {
  grid-area: header; }

.banner {
  grid-area: banner; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.main {
  background-color: #fff; }

.index H1 {
  margin-top: 100px;
  margin-bottom: 50px; }

.banner {
  margin-top: 60px; }

/* Media Queries Mobile */
@media only screen and (max-width: 991px) {
  .carousel-item img.banner-1 {
    content: url("../imgs/banner/Banner1_mobile.jpg"); }
  .carousel-item img.banner-2 {
    content: url("../imgs/banner/Banner2_mobile.jpg"); }
  .carousel-item img.banner-3 {
    content: url("../imgs/banner/Banner3_mobile.jpg"); } }

.main {
  margin-bottom: 50px; }

/*Popup*/
#target-content {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms; }
  #target-content:target {
    pointer-events: all;
    opacity: 1; }

#target-inner {
  position: absolute;
  display: block;
  padding: 48px;
  line-height: 1.8;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #424242; }
  #target-inner h2 {
    margin-top: 0; }

a.close {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #424242;
  opacity: 0.5;
  transition: opacity 200ms; }
  a.close:hover {
    opacity: 0.4; }

@media (max-width: 768px) {
  #target-inner {
    width: 100%; } }

/*---------*/
.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .centered-flex .our-products {
    margin-top: 100px;
    padding: 2em 5em;
    font: normal 40px/50px "Jost", sans-serif;
    color: #000000; }
  .centered-flex .our-products p {
    height: 50px;
    float: left;
    margin-right: 0.3em; }
  .centered-flex .our-products b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px; }
  .centered-flex .our-products .innerOur-products {
    display: inline-block;
    color: #673ab7;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s; }

@keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }

@-webkit-keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }

@-moz-keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }

@-o-keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }

@keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }
  .centered-flex #section-product1,
  .centered-flex #section-product2,
  .centered-flex #section-product3,
  .centered-flex #section-product4 {
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 90%;
    background-color: #f8f9fa;
    border-radius: 10px; }
    .centered-flex #section-product1:hover .move-img,
    .centered-flex #section-product2:hover .move-img,
    .centered-flex #section-product3:hover .move-img,
    .centered-flex #section-product4:hover .move-img {
      transform: translateX(200px);
      transition: all 0.5s ease-in-out; }
    .centered-flex #section-product1 .move-img,
    .centered-flex #section-product2 .move-img,
    .centered-flex #section-product3 .move-img,
    .centered-flex #section-product4 .move-img {
      transition: all 0.5s ease-in-out; }
    .centered-flex #section-product1:hover .move-txt,
    .centered-flex #section-product2:hover .move-txt,
    .centered-flex #section-product3:hover .move-txt,
    .centered-flex #section-product4:hover .move-txt {
      transform: translateX(-100px);
      transition: all 0.5s ease-in-out; }
  .centered-flex .move-txt {
    transition: all 0.5s ease-in-out; }
  .centered-flex H3 {
    font-size: 1.8rem;
    font-weight: 500; }
  .centered-flex P {
    font-weight: 300;
    margin: 0px; }
  .centered-flex .button-buy {
    background-color: #000000;
    color: #ffff;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 15px 0; }
    .centered-flex .button-buy a {
      text-decoration: none;
      color: #fff; }
    .centered-flex .button-buy:hover {
      background-color: #000000;
      color: #fff;
      transform: translateY(-3px); }

#section-product5 {
  width: 91%; }
  #section-product5 img {
    width: 30%; }
  #section-product5 .product5,
  #section-product5 .product6 {
    border-radius: 10px;
    border: none;
    background-color: #f8f9fa; }
  #section-product5 img {
    transition: transform 0.3s ease-in-out; }
    #section-product5 img:hover {
      transform: scale(1.05); }

/*Media query*/
@media screen and (max-width: 767px) {
  .centered-flex .our-products {
    font: normal 27px/50px "Jost", sans-serif;
    padding: 0px; } }

@media only screen and (max-width: 768px) {
  .product5,
  .product6 {
    margin-top: 10px; } }

@media (max-width: 480px) {
  .centered-flex #section-product1:hover .move-img,
  .centered-flex #section-product2:hover .move-img,
  .centered-flex #section-product3:hover .move-img,
  .centered-flex #section-product4:hover .move-img {
    transform: none; }
  .centered-flex #section-product1:hover .move-txt,
  .centered-flex #section-product2:hover .move-txt,
  .centered-flex #section-product3:hover .move-txt,
  .centered-flex #section-product4:hover .move-txt {
    transform: none; } }

.main {
  margin-bottom: 50px; }

/*----NOSOTROS----*/
h1 {
  color: #fff;
  text-align: center;
  font-family: "Jost";
  font-size: 2.4rem;
  font-weight: 800; }

.main_container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  .main_container::-webkit-scrollbar {
    display: none; }

.content_container {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 1;
  margin: 0 auto;
  padding: 390px 0;
  background: url("../imgs/mapa/map_desktop.jpg");
  background-repeat: no-repeat; }

.parallax_container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background-color: #7e57c2; }

/*media query*/
@media only screen and (max-width: 768px) {
  .content_container {
    content: url("../imgs/mapa/map_mobile.jpg");
    padding: 0px; } }

/*Comunidad*/
/*Banner Comunidad*/
.slider {
  top: 60px;
  position: relative;
  width: 1900px;
  height: 400px;
  overflow: hidden; }
  .slider .slider-inner {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
    animation: slide 12s infinite; }
    .slider .slider-inner:hover {
      animation-play-state: paused; }
    .slider .slider-inner .slide-community {
      width: 33.33%; }
      .slider .slider-inner .slide-community img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

@keyframes slide {
  0% {
    transform: translateX(0%); }
  25% {
    transform: translateX(0%); }
  33.33% {
    transform: translateX(-33.33%); }
  58.33% {
    transform: translateX(-33.33%); }
  66.66% {
    transform: translateX(-66.66%); }
  91.66% {
    transform: translateX(-66.66%); }
  100% {
    transform: translateX(0%); } }

/*Main Comunidad*/
.file-container {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .file-container > :first-child {
    margin-bottom: 30px; }
  .file-container .file-row {
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .file-container .file-row .file {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: center;
      transition: transform 0.3s ease; }
    .file-container .file-row img {
      object-fit: cover;
      border-radius: 10px 10px 0 0; }
    .file-container .file-row div {
      width: 60%; }
    .file-container .file-row #file-1 p,
    .file-container .file-row #file-2 p,
    .file-container .file-row #file-3 p,
    .file-container .file-row #file-4 p,
    .file-container .file-row #file-5 p,
    .file-container .file-row #file-6 p {
      margin: 10px;
      font-size: 16px;
      text-align: center;
      color: #7e57c2;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
    .file-container .file-row #file-1:hover p,
    .file-container .file-row #file-2:hover p,
    .file-container .file-row #file-3:hover p,
    .file-container .file-row #file-4:hover p,
    .file-container .file-row #file-5:hover p,
    .file-container .file-row #file-6:hover p {
      opacity: 1; }

/*Mediaquery Banner Comunidad*/
@media only screen and (max-width: 768px) {
  .wrapper-banner-slider {
    display: block;
    text-align: center;
    left: 0;
    right: 0; }
  .slider {
    width: 100%;
    height: auto; }
  #com-1-img img {
    content: url("../imgs/banners Community/Banner 1_mobile.png"); }
  #com-2-img img {
    content: url("../imgs/banners Community/Banner 2_mobile.png"); }
  #com-3-img img {
    content: url("../imgs/banners Community/Banner 3_mobile.png"); }
  #file-1 img {
    content: url("../imgs/banners Community/community_mobile1.png"); }
  #file-2 img {
    content: url("../imgs/banners Community/community_mobile2.png"); }
  #file-3 img {
    content: url("../imgs/banners Community/community_mobile3.png"); }
  #file-4 img {
    content: url("../imgs/banners Community/community_mobile4.png"); }
  #file-5 img {
    content: url("../imgs/banners Community/community_mobile5.png"); }
  #file-6 img {
    content: url("../imgs/banners Community/community_mobile6.png"); } }

/*Mediaquery para file-row y file-container en pantallas pequeñas*/
@media (max-width: 480px) {
  .file-container,
  .file-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  #file-1 p,
  #file-2 p,
  #file-3 p,
  #file-4 p,
  #file-5 p,
  #file-6 p {
    display: none; } }

.main {
  margin-bottom: 50px; }

/*Contacto*/
.contact {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact h2 {
    font-size: 2.1rem; }
  .contact .banner-contact {
    top: 60px;
    margin: 0 0 20px 0;
    position: relative; }
    .contact .banner-contact h1 {
      font-size: 2.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #424242; }
  .contact .contact-container {
    margin-top: 80px; }
  .contact .btn-contact-form {
    margin-top: 15px;
    background-color: #673ab7;
    border: none; }
    .contact .btn-contact-form:hover {
      background-color: #7e57c2; }

@media only screen and (max-width: 991px) {
  .banner-contact img {
    content: url("../imgs/contacto/Banner_Contacto-mobile.jpg");
    background-size: cover; }
  .banner-contact h1 {
    text-align: center; } }

.main {
  margin-bottom: 50px; }

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg-1 {
  background-image: url("../imgs/productos/SoundPro/banner_spr_1.jpg");
  min-height: 100%; }

.bgimg-2 {
  background-image: url("../imgs/productos/SoundPro/banner_spr_2.jpg");
  min-height: 100%; }

.bgimg-3 {
  background-image: url("../imgs/productos/SoundPro/banner_spr_3.jpg");
  min-height: 100%; }

.caption-centered {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.caption-centered-2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered-2 .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.aboutproduct {
  color: #424242;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
  text-align: center; }

.caption2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%); }
  .caption2 .data {
    position: relative;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.300158) 50%, rgba(0, 0, 0, 0) 90%); }
    .caption2 .data .badge {
      color: #fff;
      display: flex;
      margin: 22px;
      flex-direction: column; }
      .caption2 .data .badge:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 0;
        padding: 20px; }
      .caption2 .data .badge .badge-caption {
        width: 145px;
        word-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
        font-weight: 100; }
      .caption2 .data .badge .badge-value {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 5px; }

/*Mediaquery para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  .bgimg-1 {
    content: url("../imgs/productos/SoundPro/banner_spr_mobile1.jpg"); }
  .bgimg-3 {
    content: url("../imgs/productos/SoundPro/banner_spr_mobile3.jpg"); }
  .aboutproduct h2 {
    font-size: 1.5rem; }
  .badge {
    border: 1px solid white;
    border-radius: 0;
    padding: 20px; } }

.bgimg1-1,
.bgimg1-2,
.bgimg1-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg1-1 {
  background-image: url("../imgs/productos/SoundPro/banner_spw_1.jpg");
  min-height: 100%; }

.bgimg1-2 {
  background-image: url("../imgs/productos/SoundPro/banner_spw_2.jpg");
  min-height: 100%; }

.bgimg1-3 {
  background-image: url("../imgs/productos/SoundPro/banner_spw_3.jpg");
  min-height: 100%; }

.caption-centered {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.caption-centered-2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered-2 .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.aboutproduct {
  color: #424242;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
  text-align: center; }

.caption2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%); }
  .caption2 .data {
    position: relative;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.300158) 50%, rgba(0, 0, 0, 0) 90%); }
    .caption2 .data .badge {
      color: #fff;
      display: flex;
      margin: 22px;
      flex-direction: column; }
      .caption2 .data .badge:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 0;
        padding: 20px; }
      .caption2 .data .badge .badge-caption {
        width: 145px;
        word-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
        font-weight: 100; }
      .caption2 .data .badge .badge-value {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 5px; }

/*Mediaquery para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  .bgimg1-1 {
    content: url("../imgs/productos/SoundPro/banner_spw_mobile1.jpg"); }
  .bgimg1-3 {
    content: url("../imgs/productos/SoundPro/banner_spw_mobile3.jpg"); }
  .aboutproduct h2 {
    font-size: 1.5rem; }
  .badge {
    border: 1px solid white;
    border-radius: 0;
    padding: 20px; } }

.bgimg2-1,
.bgimg2-2,
.bgimg2-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg2-1 {
  background-image: url("../imgs/productos/SoundPro/banner_mb_1.jpg");
  min-height: 100%; }

.bgimg2-2 {
  background-image: url("../imgs/productos/SoundPro/banner_mb_2.jpg");
  min-height: 100%; }

.bgimg2-3 {
  background-image: url("../imgs/productos/SoundPro/banner_mb_3.jpg");
  min-height: 100%; }

.caption-centered {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.caption-centered-2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered-2 .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.aboutproduct {
  color: #424242;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
  text-align: center; }

.caption2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%); }
  .caption2 .data {
    position: relative;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.300158) 50%, rgba(0, 0, 0, 0) 90%); }
    .caption2 .data .badge {
      color: #fff;
      display: flex;
      margin: 22px;
      flex-direction: column; }
      .caption2 .data .badge:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 0;
        padding: 20px; }
      .caption2 .data .badge .badge-caption {
        width: 145px;
        word-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
        font-weight: 100; }
      .caption2 .data .badge .badge-value {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 5px; }

/*Mediaquery para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  .bgimg2-1 {
    content: url("../imgs/productos/SoundPro/banner_mb_mobile1.jpg"); }
  .bgimg2-3 {
    content: url("../imgs/productos/SoundPro/banner_mb_mobile3.jpg"); }
  .aboutproduct h2 {
    font-size: 1.5rem; }
  .badge {
    border: 1px solid white;
    border-radius: 0;
    padding: 20px; } }

#parallax-product {
  margin-top: 80px; }

.bgimg3-1,
.bgimg3-2,
.bgimg3-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg3-1 {
  background-image: url("../imgs/productos/SoundPro/banner_hc_1.jpg");
  min-height: 100%; }

.bgimg3-2 {
  background-image: url("../imgs/productos/SoundPro/banner_hc_2.jpg");
  min-height: 100%; }

.bgimg3-3 {
  background-image: url("../imgs/productos/SoundPro/banner_hc_3.jpg");
  min-height: 100%; }

.caption-centered {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.caption-centered-2 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .caption-centered-2 .border {
    color: #000000;
    display: inline-block;
    padding: 18px;
    font-size: 2.1rem;
    letter-spacing: 10px; }

.aboutproduct {
  color: #424242;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
  text-align: center; }

.caption2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%); }
  .caption2 .data {
    position: relative;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.300158) 50%, rgba(0, 0, 0, 0) 90%); }
    .caption2 .data .badge {
      color: #fff;
      display: flex;
      margin: 22px;
      flex-direction: column; }
      .caption2 .data .badge:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-radius: 0;
        padding: 20px; }
      .caption2 .data .badge .badge-caption {
        width: 145px;
        word-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
        font-weight: 100; }
      .caption2 .data .badge .badge-value {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 5px; }

/*Mediaquery para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  .bgimg3-1 {
    content: url("../imgs/productos/SoundPro/banner_hc_mobile1.jpg"); }
  .bgimg3-3 {
    content: url("../imgs/productos/SoundPro/banner_hc_mobile3.jpg"); }
  .aboutproduct h2 {
    font-size: 1.5rem; }
  .badge {
    border: 1px solid white;
    border-radius: 0;
    padding: 20px; } }

.footer {
  background: white;
  background: linear-gradient(0deg, white 100%, #f8f9fa 100%); }
  .footer .rrss-icon {
    width: 30px;
    margin: 5px; }
  .footer .rrss-icon {
    opacity: 1;
    transition: opacity 0.2s ease-in-out; }
  .footer .rrss-icon:hover {
    opacity: 0.5; }
  @media (max-width: 768px) {
    .footer .navbar-toggler {
      border: none; } }

.card-title {
  margin: 50px 0;
  font-weight: 900; }

.product-card {
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 0 0 0;
  padding: 20px;
  transition: transform 0.2s ease-in-out; }
  .product-card h4 {
    font-size: 1.5rem;
    font-weight: 500; }
  .product-card img {
    width: 250px;
    transition: transform 0.2s ease-in-out; }
    .product-card img:hover {
      transform: scale(1.03); }
  .product-card:hover {
    transform: scale(1.03);
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .product-card .button-black {
    background-color: #424242;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease; }
    .product-card .button-black:hover {
      background-color: #000000;
      transform: translateY(-3px); }
    .product-card .button-black a {
      text-decoration: none;
      color: #fff; }
