@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');

$primary-tipography: 'Asap';
$secondary-tipography: 'Jost';



h1 {
    font-family: $primary-tipography;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: $secondary-tipography;
}

$font-sizes: (1: 2.4rem, 2: 2.1rem, 3: 1.8rem, 4: 1.5rem, 5: 1.2rem, 6: 1rem);

@for $i from 1 through 6 {
  h#{$i} {
    font-size: map-get($font-sizes, $i);
  }
}
