/*Comunidad*/

/*Banner Comunidad*/
.slider {
    position: relative;
    width: 1900px;
    height: 400px;
    overflow: hidden;

    .slider-inner {
        display: flex;
        width: 300%;
        transition: transform 0.5s ease-in-out;
        animation: slide 12s infinite;

        &:hover {
            animation-play-state: paused;
        }

        .slide-community {
            width: 33.33%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(0%);
    }

    33.33% {
        transform: translateX(-33.33%);
    }

    58.33% {
        transform: translateX(-33.33%);
    }

    66.66% {
        transform: translateX(-66.66%);
    }

    91.66% {
        transform: translateX(-66.66%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*Main Comunidad*/
.file-container {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .file-row {
        display: flex;
        flex-direction: row;

        .file {
            margin: 20px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
                box-shadow: 2px 2px 5px gray;
            }

            img {
                
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }

            div{
                width: 60%;
            }
            p {
                margin: 10px;
                font-size: 16px;
                text-align: center;
                color: $violet-0;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            &:hover p{
                opacity: 1;
              }
        }
    }
}

/*Mediaquery Banner Comunidad*/

@media only screen and (max-width: 768px) {
    .slider {
      width: 100%;
      height: auto;
    }
    #com-1-img img {
      content: url('../imgs/banners Community/Banner 1_mobile.png');
    }
    #com-2-img img {
      content: url('../imgs/banners Community/Banner 2_mobile.png');
    }
    #com-3-img img {
      content: url('../imgs/banners Community/Banner 3_mobile.png');
    }
  }


  /*Mediaquery para file-row y file-container en pantallas pequeñas*/ 
 
  @media (max-width: 768px) {
    .file-container, .file-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 400px;
    }
}
