/*Contacto*/

.contact {
    background-color: $clean-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: map-get($font-sizes, 2);
    }

    .banner-contact {
        margin: 0 0 20px 0;
        position: relative;

        h1 {
            font-size: map-get($font-sizes, 1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $black-0;
        }
    }

    .btn-contact-form {
        margin-top: 15px;
        background-color: $violet-1;
        border: none;

        &:hover {
            background-color: $violet-0;
        }
    }
}


@media only screen and (max-width: 991px) {
    .banner-contact {
        img {
            content: url("../imgs/contacto/Banner_Contacto-mobile.jpg");
            background-size: cover;
        }

        h1 {
            text-align: center;
        }
    }
}

.main {
    margin-bottom: 50px;
}