/*Contacto*/

.contact {
    background-color: $clean-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner-contact {
        margin: 0 0 20px 0;
        position: relative;

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $black-0;
        }
    }
    .btn-contact-form{
        margin-top: 15px;
        background-color: $violet-1;
        border: none;
        &:hover{
            background-color: $violet-0;
        }
    }
}


@media screen and (max-width: 768px) {
    .banner-contact img {
        content: url("../imgs/contacto/Banner_Contacto-mobile.jpg");
    }
}