.index {
    H1 {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}


/* Media Queries Mobile */
@media only screen and (max-width: 991px) {
  .carousel-item img.banner-1 {
    content: url("../imgs/banner/Banner1_mobile.jpg");
  }
  .carousel-item img.banner-2 {
    content: url("../imgs/banner/Banner2_mobile.jpg");
  }
  .carousel-item img.banner-3 {
    content: url("../imgs/banner/Banner3_mobile.jpg");
  }
}

.main {
  margin-bottom: 50px;
}