/*----NOSOTROS----*/

h1 {
  color: $clean-white;
  text-align: center;
  font-family: $secondary-tipography;
  font-size: map-get($font-sizes, 1);
  font-weight: 800;
}

.main_container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.content_container {
  position: relative;
  display: block;
  background-color: $clean-white;
  z-index: 1;
  margin: 0 auto;
  padding: 390px 0;
  background: url("../imgs/mapa/map_desktop.jpg");
  background-repeat: no-repeat;
}

.parallax_container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);

  background-color: $violet-0;
}

/*media query*/

@media only screen and (max-width: 768px) {
  .content_container {
    content: url("../imgs/mapa/map_mobile.jpg");
    padding: 0px;
}
}