/*----NOSOTROS----*/

.parallax {
	background-image: url('../imgs/mapa/map_desktop.jpg');
	height: 80vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax-text {
  h1 {
    color: $violet-1;
  }
	padding-top: 100px;
	text-align: center;
	color: $black-1;
}

.content {
	padding: 50px;
	text-align: center;
}


@media screen and (max-width: 768px) {
  .parallax-text {
    h1 {
      font-size: map-get($font-sizes, 2);
    }
    h3 {
      font-size: map-get($font-sizes, 4);
    }
  }
}