.footer {
    margin-top: 45px;
    background-color: $dirt-white;

    .rrss-icon {
        width: 30px;
        margin: 5px;
    }

    .rrss-icon {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    .rrss-icon:hover {
        opacity: 0.5;
    }

    @media (max-width: 768px) {
        .navbar-toggler {
            border: none;
        }
    }
}